body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #65dd93; 
  overflow: hidden;
}
.play-btn{
  background-color: #0d893d;
  color:white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10%;
  height:40px;
  width:100px;
}